.header {
  font-family: 'MuseoSans300', 'sans-serif';
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #4c4c4c;
}
  
.purchase-date {
  font-family: 'MuseoSans500';
  color: #4c4c4c;
}
  
  