.login-container {
  font-family: 'MuseoSans300', 'sans-serif';
  background-image: url('../assets/Cover.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  margin: -15px;
  position: fixed;
  display:table-cell;
  object-fit: contain;
  padding-bottom: auto;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size:cover;
  
  .login-credentials {
    display: flex;
    justify-content: center;

    input {
      background: transparent;
      border: none;
      border-bottom: 3px solid #3DD28F;
      font-size: 1rem;
      position: relative;
      top: -3em;
      color: #808080;
      width: 100%;
    }
    label {
      margin-left: 5%;
      margin-right: 5%;
      padding-top: 1.5em;
      color: #808080;;
    }
  }
  
  .login-wrapper {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 93%;
  }

  .btn-submit {
    margin: 1rem 0 0rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'MuseoSans300', 'sans-serif';

    input {
      padding: 0 0.8rem;
      margin-right: 0.5rem;
      border-radius: 0.5rem;
      height: 2.5rem;
      box-shadow: 0 0.3rem 1rem #e8e8e8;
      background-color: #3DD28F;
      width: 90px;
      color: white;
      border: none;
      outline: none;
      font-size: 1rem;
      cursor: pointer;
    }
  }
  
  .img-format {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
  }
  
  .example-appear {
    opacity: 0.01;
  }
	
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
}