@import '../theme.scss';
.dropdown-menu {
  transition: all 0.5s;
  @media #{$mobile-size} {
    position: fixed;
    z-index: 10;
    flex-direction: column;
    top: 0;
    left: 50%;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: white;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-shadow: 0px 3px 20px #ccc;
    transform: translateX(-50%);
    -ms-flex-pack: center;
    justify-content: center;
  }
  @media #{$pc-size} {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-weight: 700;
  }
  &.open {
    @media #{$mobile-size} {
      height: 35%;
      padding-top: 110px;
    }
  }
  li.menu-item {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'MuseoSans300', 'sans-serif';
    cursor: pointer;
    @media #{$pc-size} {
      margin-right: 1rem;
    }
    a {
      text-decoration: none;
      color: $spearmint-dark;
    }
  }
}

.top-logo {
  text-align: center;
  position: relative;
  z-index: 11;
  img {
    width: 4rem;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 0.3rem 1rem #cacaca;
  }
}
