.basket-header {
  font-family: 'MuseoSans300', 'sans-serif';
  font-size: 2rem;
  color: #4c4c4c;
  margin-bottom: 1rem;
}

.btn-basic {
  position: absolute;
  transform: translate(-50%, -130%);
  top: 100%;
  left: 3.5rem;

  input {
    padding: 0 0.8rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    height: 1.5rem;
    background-color: #ef594f;
    width: 5rem;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
  }
} 

.basket-total-purchase {
  font-family: 'MuseoSans300', 'sans-serif';
  font-size: 1.2rem;
  display: flex;
  font-weight: bold;
  justify-content: center;
  color: #4c4c4c;
  
}

.baskets-container {
  font-family: 'MuseoSans300', 'sans-serif';
  background-size: auto;
  
  .btn-primary {
    border: none;
    background: none;
  }
}
  
.btn-submit {
  position: relative;
  margin: 1rem 0 0rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;

  input {
    padding: 0 0.8rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    box-shadow: 0 0.3rem 1rem #e8e8e8;
    background-color: #3DD28F;
    width: 130px;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
  }
 
}
  
.baskets-list {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
  justify-content: center;
  
  .basket-item {
    margin-bottom: 1.5rem;
    &:nth-child(odd) {
      margin-right: 0rem;
    }
    width: 100%;
    height: 9.4rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0rem .5rem #c3c3c3;

    .basket-item-container {
      display: flex;
      position: relative;
      height: 100%;   
           
      .basket-description {
        align-self:stretch;
        margin-left: 30%;
        padding: 0.5rem;
        height: 100%;
        width: 100%;
        background-color: #FFFFFF;  
              
        .information {
          align-self:flex-start;
          height: 95%;
                        
          table {
           	width: 100%;
           	height: 95%;
            text-align: center;
          }              
          td:nth-child(even) {
            width: 50%;
            border-left: 1.2px solid #CCC;
            padding-right: 0.2rem;
            padding-left: 0.4rem;
          }              
	      .basket-name {
	        font-family: 'MuseoSans500';
	        color: #4c4c4c;
	      }	          
	      .basket-price {
	        color: #4c4c4c;
	      }	          
          .distance {
            color: #4c4c4c;
            font-size: 0.8rem;
            justify-content:center;
          } 
          .purchased {
            font-family: 'MuseoSans500';
            font-size: 0.8rem;
            color: #4c4c4c;
          }	     	  
          .basket-delivery {
            font-size: 0.8rem;
            color: #4c4c4c;
          }	          
	      .basket-cost{
            font-family: 'MuseoSans500';
            font-size: 0.8rem;
            color: #4c4c4c;
          }
        }
      }
    }
  }
}
