.SignUp-container {
  font-family: 'MuseoSans300', 'sans-serif';
  .SignUp-context {
    margin: 1rem 0 2rem 0;
    display: flex;
    align-items: center;
	justify-content: center;

    input {
      padding: 0 0.8rem;
      margin-right: 0.5rem;
      border-radius: 0.5rem;
      height: 2.5rem;
      box-shadow: 0 0.3rem 1rem #e8e8e8;
      border: none;
      outline: none;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  .btn-submit {
    margin: 1rem 0 0rem 0;
    display: flex;
    align-items: center;
	justify-content: center;

    input {
      padding: 0 0.8rem;
      margin-right: 0.5rem;
      border-radius: 0.5rem;
      height: 2.5rem;
      box-shadow: 0 0.3rem 1rem #e8e8e8;
      background-color: #3DD28F;
      width: 9%;
      color: white;
      border: none;
      outline: none;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}