.SignUp-container {
  font-family: 'MuseoSans300', 'sans-serif';
  background-image: url('../assets/Cover.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  margin: -15px;
  position: fixed;
  display:table-cell;
  object-fit: contain;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: auto;
  .SignUp-context {
    display: flex;
	justify-content: center;
    overflow-y: hidden;
    input {
	  background: transparent;
	  border: none;
	  width: 215%;
	  border-bottom: 3px solid #3DD28F; //#36bc80 darker variation of freshspire green
	  color: #808080;
	  font-size: 1rem;
	  position: relative;
	  top: -3em;	    
    }
    
    label {
	  width: 8em;
	  margin-right: 9em;
	  padding-top: 1.75em;
	  color: #808080;
	}
  }

  .sign-up-wrapper {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 520px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 90%;
    height: 57rem;
  }

  .btn-submit {
    margin: 1rem 0 0rem 0;
    display: flex;
    align-items: center;
	justify-content: center;
	margin-bottom: 2em;

    input {
      padding: 0 0.8rem;
      margin-right: 0.5rem;
      border-radius: 0.5rem;
      height: 2.5rem;
      box-shadow: 0 0.3rem 1rem #e8e8e8;
      background-color: #3DD28F;
      width: 90px;
      color: white;
      border: none;
      outline: none;
      font-size: 1rem;
      cursor: pointer;
    }
  }
  
  .img-format {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 1.7em;
    max-width: 500px;
  }
}