@import './theme.scss';

.container {
  padding: 1rem;
  height: 120vh;
  weight: 120vw;
  background-color: $grey-light;
  .top-logo {
    text-align: center;
    img {
      width: 4rem;
      background-color: #fff;
      border-radius: 100%;
      box-shadow: 0 0.3rem 1rem #cacaca;
    }
  }
}