* {
  margin: 0; padding: 0;
}

ul {
  list-style: none;
}

input, button {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;

  font-family: inherit !important;
  outline: none;
  color: inherit;
}

.__freshspire-loading-spinner {
  animation: spin 3000ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}