// colors
$spearmint-dark: #3dd28f;
$spearmint-light: #64dba5;

$grey-dark: #e9e9e9;
$grey-light: #f2f3f3;

$charcoal-dark: #2b2b2b;
$charcoal-light: #404041;

// size
$mobile-size: "screen and (max-width: 549px)";
$pc-size: "screen and (min-width: 550px)";
